.app {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto 1fr auto;
	grid-template-areas:
		"scene render settings"
		"materials render settings";
	gap: 1px;
	height: 100%;
}

.scene {
	grid-area: scene;
}

.materials {
	grid-area: materials;
}

.render {
	grid-area: render;
}

.settings {
	grid-area: settings;
}
