.app {
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: auto 1fr auto;
	grid-template-areas:
		"scene render settings"
		"materials render settings"
		"meta render settings";
	gap: 1px;
	height: 100%;
}

.scene {
	grid-area: scene;
}

.render {
	grid-area: render;
}

.settings {
	grid-area: settings;
}

.materials {
	grid-area: materials;
}

.meta {
	grid-area: meta;
}
